aside.filter
  .container 
    .block-wrapper
      .block
        details.checking(open)
          summary 
            p Classification
            img(src="images/sprite.svg#arrow").toggle.toggleBtn

          ul.check-list
            li 
              input(type="checkbox" checked id="100%Indica").checkbox
              label(for="100%Indica") 100% Indica
            li 
              input(type="checkbox" id="100%Sativa").checkbox
              label(for="100%Sativa") 100% Sativa
            li 
              input(type="checkbox" checked id="50%Indica").checkbox
              label(for="50%Indica") >50% Indica
            li 
              input(type="checkbox" id=">50%Sativa").checkbox
              label(for=">50%Sativa") >50% Sativa
        
        details.checking(open)
          summary 
            p Production Method
            img(src="images/sprite.svg#arrow").toggle.toggleBtn
          ul.check-list
            li 
              input(type="checkbox" checked id="Indoor").checkbox
              label(for="Indoor") Indoor
            li 
              input(type="checkbox" id="Outdoor").checkbox
              label(for="Outdoor") Outdoor
            li 
              input(type="checkbox" id="Greenhouse").checkbox
              label(for="Greenhouse") Greenhouse
            li 
              input(type="checkbox" id="LightDeprivation").checkbox
              label(for="LightDeprivation") Light Deprivation
            li 
              input(type="checkbox" id="MixedLight").checkbox
              label(for="MixedLight") Mixed Light
            li 
              input(type="checkbox" id="Other").checkbox
              label(for="Other") Other
        
        details.checking(open)
          summary 
            p Size
            img(src="images/sprite.svg#arrow").toggle.toggleBtn
          ul.check-list
            li 
              input(type="checkbox" id="Flower" checked).checkbox
              label(for="Flower") Flower
            li 
              input(type="checkbox" id="Pre-RollFlower").checkbox
              label(for="Pre-RollFlower") Pre-Roll Flower
            li 
              input(type="checkbox" id="Pre-RollInfused").checkbox
              label(for="Pre-RollInfused") Pre-Roll Infused
            li 
              input(type="checkbox" id="Pre-RollLeaf").checkbox
              label(for="Pre-RollLeaf") Pre-Roll Leaf
            li 
              input(type="checkbox" id="Shake").checkbox
              label(for="Shake") Shake
            li 
              input(type="checkbox" id="Smalls").checkbox
              label(for="Smalls") Smalls
            li 
              input(type="checkbox" id="Trim").checkbox
              label(for="Trim")  Trim
            li 
              input(type="checkbox" id="Keef").checkbox
              label(for="Keef") Keef
            li 
              input(type="checkbox" id="FreshFrozen").checkbox
              label(for="FreshFrozen") Fresh Frozen
