.dropdown.dropdown_active
  .wrapper 
    p Sort by :
    ul.dropdown-list 
      li
        img(src="images/sprite.svg#date")
        span Date (New first)
      li
        img(src="images/sprite.svg#date")
        span Date (Old first)
      li.price-high
        img(src="images/sprite.svg#arrowUp")
        span Price (High first)
      li.price-low
        img(src="images/sprite.svg#arrowUp")
        span Price (Low first)
      li.high-thc 
        span THC
        span Total THC (High first)
      li.low-thc 
        span THC
        span Total THC (Low first)
      li.high-cbd
        span CBD
        span Total CBD (High first)
      li.low-cbd 
        span CBD
        span Total CBD (Low first)