ul.header-categories
      li.header-categories__item.header-categories__item_active.block-wrapper 
        button.block
          .icon-box: img(src="images/sprite.svg#leaf").svg-leaf-dims  
          span Buds  
      li.header-categories__item.block-wrapper
        button.block 
          .icon-box: img(src="images/sprite.svg#leaf").svg-leaf-dims  
          span Edible 
      li.header-categories__item.block-wrapper 
        button.block 
          .icon-box: img(src="images/sprite.svg#leaf").svg-leaf-dims  
          span Non&nbspEdible 
      li.header-categories__item.block-wrapper
        button.block 
          .icon-box: img(src="images/sprite.svg#leaf").svg-leaf-dims  
          span Concentrate
        