.header-settings__range.price
  label(for="price") Price Range
  .price-value 5000$
  input(type="range" value="5000"  min="234" max="9999" name="price")#price.input_range
  .slider
  .value 
    p.active 243 $
    p 9999 $
  
.header-settings__range.thc
  label(for="price") ТНС, %
  .price-value 33%
  input(type="range" value="33"  min="0" max="65" name="price")#price.input_range
  .slider
  .value
    p 65%
  
.header-settings__range.cbd
  label(for="price") CBD, %
  .price-value 33%
  input(type="range" value="33"  min="0" max="65" name="price")#price.input_range
  .slider
  .value 
    p 65%
  