ul.tag-list
  li 
    span 100% Indica
    button.close
      img(src="images/sprite.svg#close")
  li 
    span >50% Indica
    button.close
      img(src="images/sprite.svg#close")
  li 
    span Indoor
    button.close
      img(src="images/sprite.svg#close")
  li 
    span Flower
    button.close
      img(src="images/sprite.svg#close")
  li 
    span Michigan
    button.close
      img(src="images/sprite.svg#close")
  li 
    span SellerSeller
    button.close
      img(src="images/sprite.svg#close")
  li 
    span Distributor
    button.close
      img(src="images/sprite.svg#close")