$bg: #171722;
$generalText: #FFFFFF;
$unactiveText: #959595;

$unactiveInput: #353542;
$darkGreen: #84D52C;

$btnGrad: linear-gradient(193.42deg, #85D62D 23.76%, #6BAB2B 86.01%);
$lightGreen: #7ACB22;

$Hashtags: #297019;

$checkbox: linear-gradient(266.56deg, rgba(107, 171, 43, 0.2) 0%, rgba(132, 213, 44, 0) 94.16%), #84D52C;

$border-grad: linear-gradient(180deg, #84D52C5C 0, #17172200 180%);

$value-bg: #212129;
$value-color: #606060;
$slider: #30303D;
$slider-bg: #7ACB22;