@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova_regular.ttf');
  font-style: normal;
  font-weight: 400;
}